
.autocompleteOption {
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 20px !important;
  }

  @media only screen and (max-device-width: 480px) {
    .autocompleteOption {
        min-height: 30px !important;
      }
}